body{
    margin: 0px 100px;
}
.logo{
    margin: 0px 100px
    
}
.account{
    height:100%;
    width:40%;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px;
    
}
button{
    border-radius: 3px;
}
input hover{

}